// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  margin: 0 auto;
}

.refresh-slider {
  width: 300px;
  margin: 5px auto 10px auto;
}

#refresh-slider-container {
  width: 300px;
  margin: 5px auto 20px auto;
}